h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
ul {
    width: 600px;
    margin: auto;
}
li {
    display: inline;
   margin-left: 30px;  
   border-left: 2px solid black;
   padding: 10px;
}
li a {
    text-decoration: none;
}




