.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
}

.nav-item {
    color: white;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.gallery {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    justify-content: center;
    
    gap: 15px;
    padding: 20px;
    background-color: #333;

}
.photo {
    background-color: beige;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}