#my-form {
    max-width: 500px;
    background-color: azure;
    color: black;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
#my-form input {
height: 25px;
}
.into {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 25px;
    max-width: 300px;
    box-shadow: 0 10px 25px rgba(150, 150, 150, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border: 1px solid gray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.red-box{
    background: red;
}